:root {
    --qubely-color-1: #2768c9;
    --qubely-color-2: #0d6dfd;
    --qubely-color-3: #363636;
    --qubely-color-4: #BBC0D4;
    --qubely-color-5: #FFFFFF;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body::-webkit-scrollbar {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #abb8c3;
    border-radius: 20px;
    transition: all .4s ease;
}

body::-webkit-scrollbar-button {
    background-color: #abb8c3;
    border-radius: 50% 0%;
    transition: all .4s ease;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #7d8890;
}

body::-webkit-scrollbar-button:hover {
    background-color: #7d8890;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    padding: 0px 100px;
    background: #FFFFFF;
    align-items: center;
    z-index: 3;
    box-shadow: 0px 10px 20px rgba(43, 61, 79, 0.06);
}

header img {
    height: 35px;
    width: auto;
}

header .menu {
    display: flex;
    color: #243b56;
}

header p {
    margin: 0px 27px;
    font-size: 16px;
    font-weight: 600;
    transition: all .5s ease;
}

header .menu p:hover {
    color: #0d6dfd;
    cursor: pointer;
}

/*hero page starts*/
.heropage {
    background: #102136;
    width: 100%;
    height: 100vh;
    padding-top: 70px;
    overflow: hidden;
    position: relative;
}

.heropagecontent {
    position: relative;
    background: rgba(66, 66, 103, 0.177);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    height: 100%;
    color: #FFFFFF;
}

.heropagecontent p:nth-child(1) {
    font-size: 16px;
    font-weight: 900;
}

.heropagecontent p:nth-child(2) {
    font-size: 45px;
    font-weight: 900;
    width: 50%;
    margin: 10px 0px;
}

.heropagecontent p:nth-child(3) {
    font-size: 16px;
    width: 50%;
    margin-bottom: 75px;
}

.btn .left {
    background-color: #2768c9;
    border: 1px solid #2768c9;
}

.btn .right {
    border: 1px solid #FFFFFF;
    margin-left: 15px;
}

.btn a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 5px;
    padding: 16px 24px;
    transition: all .5s ease;
}

.btn a:hover {
    background-color: #0d6dfd;
    border: 1px solid #0d6dfd;
}

.circle1,
.circle2 {
    height: 600px;
    width: 600px;
    border-radius: 50%;
    position: absolute;
}

.circle1 {
    right: -10%;
    top: -20%;
    background: linear-gradient(-45deg, #1F5198, #24365D);
}

.circle2 {
    left: -7%;
    bottom: -47%;
    background: linear-gradient(-45deg, #24365D, #1F5198);
}

.line1,
.line2 {
    width: 600px;
    background: #FFFFFF;
    position: absolute;
    transform: rotate(-45deg);
}

.line1 {
    height: 1px;
    top: 35%;
    right: -10%;
}

.line2 {
    height: 1px;
    bottom: 4%;
    left: -2%;
}

/*cards section starts here*/
.cardssection {
    margin: 100px;
    color: #243b56;
    position: relative;
}

.cardssection h1,
.cardssection h3 {
    text-align: center;
}

.cardssection h1 {
    font-size: 35px;
    font-weight: 900;
}

.cardssection h3 {
    font-size: 16px;
    margin: 15px 0px 50px 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.card {
    border: 1px solid #e4e9f0;
    border-radius: 10px;
    padding: 45px;
    transition: border-color 400ms ease, background-color .4s ease, box-shadow .4s ease, color .4s ease;
    height: 345px;
}

.card:hover {
    box-shadow: 2px 30px 50px 0px rgba(89, 64, 195, 0.2);
    border-color: #2768c9;
    background-color: #2768c9;
    color: #FFFFFF;
}

.card:hover .bi {
    fill: #FFFFFF;
}

.card h2 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 900;
}

.card p {
    font-size: 16px;
    line-height: 25px;
}

.bi {
    margin-bottom: 25px;
}

.cardbtn {
    position: relative;
    margin: 65px 0px 20px 0px;
    width: 316.07px;
    left: 50%;
    transform: translateX(-50%);
}

.cardbtn a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 5px;
    padding: 16px 24px;
    transition: all .5s ease;
}

.cardbtn a:nth-child(1) {
    background-color: #2768c9;
    border: 1px solid #2768c9;
}

.cardbtn a:nth-child(2) {
    border: 1px solid #2768c9;
    margin-left: 15px;
    color: #2768c9;
}

.cardbtn a:hover {
    background-color: #0d6dfd;
    border: 1px solid #0d6dfd;
    color: #FFFFFF;
}

/*third page*/
.third {
    background: #F9FAFC;
    padding: 100px;
    display: flex;
    position: relative;
}

.thirdleft img {
    height: 800px;
    width: 525px;
    border-radius: 25px;
}

.thirdright {
    margin: 50px 0px 50px 50px;
}

.thirdright h6 {
    color: #2768c9;
    font-size: 16px;
    font-weight: 900;
}

.thirdright h2 {
    color: #243b56;
    font-size: 40px;
    font-weight: 900;
    line-height: 120px;
}

.thirdright>p {
    color: #243b56;
    font-size: 16px;
    margin-bottom: 20px;
}

.thridrightmenu {
    background: #F3F5F9;
    display: flex;
    padding: 25px 20px;
    margin-top: 30px;
    border-radius: 10px;
    height: 145px;
    transition: all .5s ease;
    align-items: center;
}

.thridrightmenu div:nth-child(1) {
    background-color: #E6E5F9;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    flex-shrink: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 0px 10px;
}

.thridrightmenu:hover {
    background: #FFFFFF;
    box-shadow: 0px 20px 70px 0px rgba(66, 81, 103, 0.1);
}

.thridrightmenu:hover .bii {
    fill: #0d6dfd;
}

.thridrightmenu:hover div:nth-child(2) h1 {
    color: #0d6dfd;
}

.thridrightmenu div:nth-child(2) p {
    color: #243b56;
    font-size: 16px;
    line-height: 25px;
}

.thridrightmenu div:nth-child(2) h1 {
    color: #2768c9;
    font-size: 17px;
}

.thridrightmenu div:nth-child(2) {
    margin: 0px 25px;
}

.third::after {
    position: absolute;
    top: 100%;
    content: '';
    width: 100%;
    height: 170px;
    background: #FFFFFF;
    margin-left: -100px;
}

/*white space using after*/
.thirdbottom {
    background: #F9FAFC;
    padding: 45px 100px;
    margin-top: 170px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.thirdbottom>div:nth-child(1) img {
    height: 550px;
    width: 100%;
    overflow: hidden;
}

.thirdbottom>div:nth-child(2) {
    display: grid;
    grid-template-areas: 'head head' 'left right';
    height: 100%;
}

.thirdbottomcont {
    margin: 45px 0px 0px 45px;

}

.tbitem1 h1 {
    font-size: 45px;
    color: #243b56;
    font-weight: 900;
}

.tbitem1 p {
    font-size: 20px;
    color: #363636;
    margin-top: 30px;
}

.tbitem1 {
    grid-area: head;
}

.tbitem2 {
    grid-area: left;
}

.tbitem3 {
    grid-area: right;
}

.thirdbottom nav {
    margin-left: 20px;
}

.thirdbottom nav::before {
    content: "";
    background: url(https://cdn0.iconfinder.com/data/icons/round-ui-icons/512/tick_blue.png);
    background-size: 20px 20px;
    position: absolute;
    height: 20px;
    width: 20px;
    margin-left: -20px;
}

/*first*/
.bottom>div:nth-child(1) {
    padding: 55px 75px;
    border-radius: 10px;
    background-color: #2768c9;
    margin: 75px 100px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.bottom>div:nth-child(1) p {
    font-size: 32px;
    width: 483px;
    font-weight: 900;
}

.bottom>div:nth-child(1) a {
    text-decoration: none;
    color: #2768c9;
    align-self: center;
    font-size: 18px;
    background-color: #EDEDED;
    padding: 18px 22px;
    border-radius: 7px;
    transition: all 1s linear;
}

.bottom>div:nth-child(1) a:hover {
    background: #FFFFFF;
}

/*second*/
.bottom>div:nth-child(2) {
    background-color: #102136;
    padding: 60px 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.bottom>div:nth-child(2) p {
    color: #FFFFFF;
    margin-top: 25px;
    text-decoration: underline;
    text-decoration-color: #06447B;
    cursor: pointer;
    transition: all .4s ease;
}

.bottom>div:nth-child(2) p:hover {
    text-decoration-color: #0d6dfd;
}

/*third*/
.bottom>div:nth-child(3) {
    background: linear-gradient(#FFFFFF 70%, #102136 30%);
    text-align: center;
    position: relative;
}

.bottom>div:nth-child(3) h1 {
    color: #243b56;
    font-size: 35px;
    padding: 150px 0px 75px 0px;
    font-weight: 900;
}

.bottom>div:nth-child(3) div {
    background: #102136;
    width: 1150px;
    margin: 0px auto;
    position: relative;
    border-radius: 10px;
}

.thirdvediolayout {
    width: 1150px;
    opacity: 0.7;
    position: relative;
    transition: all .4s ease;
    border-radius: 10px;
}

.thirdvediolayout:hover {
    opacity: 0.4;
}

.bottom>div:nth-child(3) div svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bottom>div:nth-child(3) nav {
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    font-weight: 900;
    padding: 60px 160px;
}

.bottom>div:nth-child(3) nav span {
    font-size: 30px;
}

/*fourth*/
.bottom>div:nth-child(4) {
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    color: #243b56e6;
    text-align: center;
    line-height: 50px;
}

.bottom>div:nth-child(4) div p:nth-child(2) {
    font-size: 30px;

}

.bottom>div:nth-child(4) p:nth-child(3) {
    font-size: 16px;
    font-weight: 900;
}

/*fifth*/
.bottom>div:nth-child(5) {
    background: linear-gradient(#FFFFFF 65%, #102136 35%);
}

.bottom>div:nth-child(5) div {
    background: linear-gradient(45deg, #2F71D4, #06447B);
    margin: 0px 100px;
    padding: 100px 300px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
}

.bottom>div:nth-child(5) div p:nth-child(1) {
    font-size: 35px;
    font-weight: 900;
}

.bottom>div:nth-child(5) div p:nth-child(2) {
    margin-bottom: 58.6px;
}

.bottom>div:nth-child(5) div a {
    background: #2F71D4;
    padding: 16px 30px;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 5px;
    transition: all .4s ease;
}

.bottom>div:nth-child(5) div a:hover {
    background: #0d6dfd;
}

/*footer grid*/
.footergrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding: 70px 100px;
    background: #102136;
    color: #c7cbd1;
}

.footergrid li {
    list-style-type: none;
}

.footergrid a {
    color: #c2d4f0;
}

.footergrid h2 {
    font-size: 16px;
    font-weight: 900;
    padding-bottom: 15px;
    color: #FFFFFF;
}

.footergrid a:hover {
    color: #FFFFFF;
}

/*contact*/
.bottomgridcnt {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    font-size: 15px;
}

.footergrid svg {
    display: inline;
}

.bottomgridcntcnt {
    padding-left: 15px;
}

.bottomgridcnt a {
    text-decoration: none;
}

/*the madisoft world*/
.bottomgrid2 a {
    line-height: 25px;
    font-size: 15px;
}

/*aws*/
.bottomgrid3 h2 {
    padding-top: 40px;
}

.bottomgrid3 p {
    font-size: 15px;
}

/*work*/
.bottomgrid4 a {
    color: #c2d4f0;
    line-height: 25px;
    font-size: 15px;
}

/*certification*/
.bottomgrid5 h2 {
    padding-top: 40px;
}

.bottomgrid5 li {
    font-size: 15px;
}

/*dpo*/
.bottomgrid6 p {
    font-size: 15px;
}

/*footer*/
footer {
    display: flex;
    background-color: #131920;
    padding: 25px 100px;
    font-size: 15px;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
}

footer .socal {
    box-sizing: content-box;
    padding-left: 20px;
}